
.tipodefuente {
	font-weight: bold;
	font-size: 18px
}

.tipodefuente2 {
	font-style: italic;
	font-family: 'Oswald', sans-serif;
	font-size: 20px 
}


.textoladoderecho {
	text-align: right;
	text-transform: capitalize;
	line-height: 50px
}

.textomodificadorandom {
	text-decoration: underline;
	letter-spacing: 5px
}


.liststylepositionafuera {
	list-style-position: outside;
}

